// BASE
// =======================================================

body {
	font-size: 0.875rem;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;

	@include media-breakpoint-up(lg) {
		font-size: 1rem;
	}
}

::-moz-selection {
	color: $white;
	background: $primary;
}

::selection {
	color: $white;
	background: $primary;
}