!!! 5
%html{lang: "en"}
  %head
    = partial "includes/util/head"
    = partial "includes/util/styles"
  %body
    %a.sr-only.sr-only-focusable{href: "#content"}= "Skip to main content"

    = partial "includes/layout/header"
    = yield
    = partial "includes/layout/footer"
    = partial "includes/util/scripts"