// FOOTER
// =======================================================

.footer {
	background-color: $primary;
	color: $white;
	padding: 3rem;
	position: relative;

	.footer-logo {
		position: absolute;
    top: 0;
		left: 50%;
		transform: translate(-50%, -36px);
	}

	.link-title {
		font-weight: 600;
	}
}


.source-link {
	background-color: #548;
	color: $white;
	font-size: 0.875rem;
	padding: 0.75em 0;

	a {
		border-bottom: 1px solid $white;
		color: $white;
		text-decoration: none;
		transition: border-color 200ms ease-in-out;

		&:hover,
		&:active,
		&:focus {
			border-color: transparent;
			color: $white;
		}
	}

	[rel="license"] {
		border: none;
	}
}