// FORM
// =======================================================

.form-group {
	position: relative;
}

label.error {
	background-color: $danger;
	color: $white;
	font-size: 0.65em;
	font-weight: 600;
	margin: 0;
	padding: 0.125em 0.5em;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 100%;
}

input.error {
	box-shadow: 0 0 0 0.2rem rgba($danger, 0.25);

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($danger, 0.5);
	}
}

.card--signup {
	.card-body {
		transition: opacity 200ms ease-in-out;
	}

	.thankyou {
		display: none;
	}

	.fa-check-circle {
		color: $yellow;
	}
}
