// JUMBOTRON
// =======================================================

.intro {
	background-color: $primary-dark;
	background-image: linear-gradient(180deg, $primary-dark 40%, $primary 100%);
	border-radius: 0;
	color: $white;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;

	.intro--content {
		padding: 6rem 1rem 2rem;
		position: relative;
		z-index: 10;

		@include media-breakpoint-up(sm) {
			padding: 10rem 2rem 6rem;
		}
	}

	.intro--title {
		font-size: 0.75em;
		font-weight: 700;
		margin-bottom: 2rem;
		position: relative;
		text-transform: uppercase;

		&::before {
			background-color: rgba($white, 0.2);
			content: '';
			height: 1px;
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translate(-1em, -50%);
			width: 6rem;
		}

		span {
			display: inline-block;
			font-weight: 300;
			padding-right: 1em;
		}
	}

	.intro--subtitle {
		font-size: 3em;
		font-weight: 300;
		
		@include media-breakpoint-up(sm) {
			font-size: 3.5em;
		}
	}

	.section-title {
		font-weight: 300;
	}

	.lead {
		font-size: 1.75em;
	}

	.card--signup {
		margin: 3.5rem auto 2em;
		color: $body-color;
	}

	.flags {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;

		.flag {
			fill: rgba($white, 0.03);
		}
	}
}

.learn {
	margin-top: 6rem;

	.learn-icon {
		display: block;
		fill: $yellow;
		margin: auto;
	}

	.title {
		color: $yellow;
		margin-top: 1.5rem;
	}
}