// NAVIGATION
// =======================================================

.navbar {
	border-bottom: 1px solid $gray-300;
	padding: 0 1rem;

	@include media-breakpoint-up(sm) {
		padding: 0;
	}

	.navbar-nav {
		border-top: 1px solid $gray-300;
		margin-top: 0.5rem;

		@include media-breakpoint-up(lg) {
			border-top: none;
			margin-top: 0;
		}

		.nav-link {
			color: $gray-8;
			font-size: 1rem;
			padding: 0.75rem 0.5rem;
			text-align: center;
			transition: color 200ms ease-in-out;

			@include media-breakpoint-up(xl) {
				padding: 0.75rem 1.25rem;
			}
		
			&:hover,
			&:active,
			&:focus {
				color: $primary;
			}
		}

		.sign-in-up-btn {
			color: $primary;
			font-weight: 600;
		}

		.fa-search {
			font-size: 0.875rem;
		}
	}
}

// Brand
.navbar-brand {
	align-content: center;
	display: flex;
	padding: 0;

	.wordmark {
		transition: fill 200ms ease-in-out;
	}

	&:hover,
	&:active,
	&:focus {
		.wordmark {
			fill: $primary;
		}
	}
}

.nav-logo {
	max-height: 2.75rem;
	position: relative;
}

// Toggler
.navbar-toggler {
	border-color: $gray-300;
}


// Social nav
.nav--social {
	margin-top: 3.5rem;
	
	.nav-link {
		color: rgba($white, 0.5);
		font-size: 0.5rem;
		padding: 0.75rem 0;
		text-align: center;
		transition: color 200ms ease-in-out;

		@include media-breakpoint-up(sm) {
			padding: 0.5rem;
		}

		&:hover,
		&:active,
		&:focus {
			color: $yellow;
		}
	}
}


// Footer Nav
.footer {
	.nav {
		.nav-link {
			padding: 0.25em 0;
			color: $white;
			transition: color 200ms ease-in-out;

			&:hover,
			&:active,
			&:focus {
				color: $yellow;
			}
		}
	}

	.nav--social {
		margin: 0 auto 2rem;

		.nav-link {
			font-size: 0.875rem;
			padding: 1rem;
		}
	}
}