- title = current_page.data.title 
- description = current_page.data.description
- keywords = current_page.data.keywords

%meta{charset: "UTF-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1"}

%title= "#{title} | GitLab"

%meta{name: "description", content: description}
%meta{name: "keywords", content: keywords}

%meta{ name: "og:type", content: "website" }
%meta{ name: "og:title", content: title }
%meta{ name: "og:description", content: description }
%meta{content: "#{current_page.url}", property: "og:url"}
%meta{content: "#{current_page.url}#{current_page.data.featured_img}", property: "og:image"}

%link{ rel: "apple-touch-icon", href: "/ico/apple-touch-icon.png" }
%link{ rel: "icon", href: "/ico/favicon-32x32.png", sizes: "32x32" }
%link{ rel: "icon", href: "/ico/favicon-16x16.png", sizes: "16x16" }
%link{ rel: "manifest", href: "/ico/manifest.json" }
%meta{ name: "theme-color", content: "#554488" }