= javascript_include_tag "vendor/jquery.min.js"
= javascript_include_tag "vendor/jquery.validate.min.js"
= javascript_include_tag "vendor/popper.min.js"
= javascript_include_tag "vendor/bootstrap.min.js"
= javascript_include_tag "site.js"
