%footer.footer{role: "contentinfo"}
	= partial "includes/artwork/footer_logo.svg"
	.container
		%ul.nav.nav--social.justify-content-center
			%li.nav-item
				%a.nav-link{href: "https://twitter.com/gitlab"}
					%span.sr-only= "Follow us on Twitter"
					%i.fa.fa-twitter.fa-2x
			%li.nav-item
				%a.nav-link{href: "https://www.facebook.com/gitlab"}
					%span.sr-only= "Follow us on Facebook"
					%i.fa.fa-facebook.fa-2x
			%li.nav-item
				%a.nav-link{href: "https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"}
					%span.sr-only= "Check us out on YouTube"
					%i.fa.fa-youtube.fa-2x
			%li.nav-item
				%a.nav-link{href: "https://www.linkedin.com/company/gitlab-com"}
					%span.sr-only= "Connect with us on LinkedIn"
					%i.fa.fa-linkedin.fa-2x
		.row
			.col-sm-6.col-md-3.col-lg-2.offset-lg-2
				%h5.link-title Products
				%ul.nav.flex-column
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/features"}= "Features"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/installation"}= "Installation"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/gitlab-com/"}= "GitLab.com"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/pricing"}= "Pricing"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/releases"}= "Releases"
			.col-sm-6.col-md-3.col-lg-2
				%h5.link-title.mt-4.mt-md-0 Services
				%ul.nav.flex-column
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/resellers/"}= "Resellers"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/services/"}= "Services"
			.col-sm-6.col-md-3.col-lg-2
				%h5.link-title.mt-4.mt-md-0 Community
				%ul.nav.flex-column
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/events/"}= "Events"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/core-team/"}= "Core Team"
					%li.nav-item
						%a.nav-link{href: "http://contributors.gitlab.com/"}= "Contributors"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/find-a-speaker/"}= "Find a Speaker"
					%li.nav-item
						%a.nav-link{href: "https://docs.gitlab.com/"}= "Documentation"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/getting-help/"}= "Getting Help"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/contributing/"}= "Contributing"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/applications/"}= "Applications"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/mvp/"}= "Hall of Fame"
			.col-sm-6.col-md-3.col-lg-2
				%h5.link-title.mt-4.mt-md-0 Company
				%ul.nav.flex-column
					%li.nav-item
						%a.nav-link{href: "https://gitlab.com/groups/gitlab-org"}= "Source Code"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/blog/"}= "Blog"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/customers/"}= "Customers"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/press/"}= "Press and Logos"
					%li.nav-item
						%a.nav-link{href: "https://shop.gitlab.com/"}= "Shop"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/about/"}= "About Us"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/team/"}= "Team"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/direction/"}= "Direction"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/handbook/"}= "Handbook"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/jobs/"}= "Jobs"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/terms/"}= "Terms"
					%li.nav-item
						%a.nav-link{href: "https://about.gitlab.com/contact/"}= "Contact Us"

%div.text-center.source-link
	%p.m-0
		Edit
		%a{href: "https://gitlab.com/jcock/gitlab-webcast"}= "this page"
		&mdash; please
		%a{href: "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md"}= "contribute"
		%a{ href: "https://creativecommons.org/licenses/by-sa/4.0/", rel: "license" }
			= image_tag "https://about.gitlab.com/images/by-sa.svg", alt: "Creative Commons License"
