%header{role: "banner"}
	%nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-white{role: "navigation"}
		.container
			%a.navbar-brand{href: "/"}
				= partial "includes/artwork/wm_web.svg"
			%a.nav-link.search-icon.d-lg-none.ml-auto{href: "https://about.gitlab.com/#stq=", "aria-label" => "Search" }
				%i.fa.fa-search
			%button.navbar-toggler{type: "button", data: {target: "#main-gl-nav", toggle: "collapse"}, aria: {controls: "main-gl-nav", expanded: "false", label: "Toggle navigation"} }
				%span.navbar-toggler-icon
			.collapse.navbar-collapse#main-gl-nav
				= partial "includes/layout/nav"
