%ul.nav.navbar-nav.ml-auto
  %li.nav-item
    %a.nav-link{href: "https://about.gitlab.com/features/"}
      Features
  %li.nav-item
    %a.nav-link{href: "https://about.gitlab.com/pricing/"}
      Pricing
  %li.nav-item
    %a.nav-link{href: "https://about.gitlab.com/installation/"}
      Install
  %li.nav-item
    %a.nav-link{href: "https://about.gitlab.com/community/"}
      Community
  %li.nav-item
    %a.nav-link{href: "https://about.gitlab.com/blog/"}
      Blog
  %li.nav-item
    %a.nav-link{href: "https://about.gitlab.com/contact/"}
      Contact
  %li.nav-item.d-none.d-lg-block
    %a.nav-link.search-icon{href: "https://about.gitlab.com/#stq=", "aria-label" => "Search" }
      %i.fa.fa-search
  %li.nav-item
    %a.nav-link.sign-in-up-btn{href: "https://gitlab.com/explore"}
      Explore GitLab.com
  %li.nav-item
    %a.nav-link.sign-in-up-btn.is-last{href: "https://gitlab.com/users/sign_in"}
      Sign In/Register
