---
title: Webcast
description: This is a sample webcast page, built by [Jason Cockerham](https://jcock.rocks), as an interview request.
keywords: gitlab, webcast, jason cockerham, jcock, middleman, haml, scss, sample, interview
featured_img: 
---

%div.intro#content
	%div.intro--content.container
		%div.row
			%div.col-11.col-lg-5
				%h1.intro--title
					%span= "Webcast"
					= "Friday, March 30 @ 6pm PST."
				%h2.section-title.intro--subtitle= "Designing for the modern developer"
				%p.lead= "In this webcast, the GitLab ux team discusses interface design, feedback response, and new features."
			
			%div.col-lg-5.offset-lg-1
				%div.card.card--signup.text-center
					%div.card-body.form--content
						%h2= "Stay up to date"
						%p.text-muted= "Receive reminders, and follow up emails."
						
						%form.form.form--contact.mt-4
							%div.form-group
								%label.sr-only{for: "email"}= "Email address"
								%input.form-control.form-control-lg#email{type: "email", aria: {label: "email address"}, placeholder: "john@example.com", :required => true}
							%div.custom-control.custom-checkbox.text-left.my-3
								%input.custom-control-input#newsletterSignup{type: "checkbox"}
								%label.custom-control-label.text-muted{for: "newsletterSignup"}= "Also, Get our GitLab newsletter twice monthly."
							%button.btn.btn-secondary.btn-block{type: "submit"}= "Sign up"
					%div.card-body.thankyou
						%i.fa.fa-check-circle.fa-2x
						%h2= "Thank you"
						%p.text-muted= "You will recieve your first email reminder 24hrs. before the webcast begins."

			%div.col-1.order-first
				%ul.nav.nav--social.flex-column
					%li.nav-item
						%a.nav-link{href: "http://twitter.com/share?url=https://about.gitlab.com/2017/01/24/designing-for-the-modern-developer-recap/&text=Designing%20for%20the%20modern%20developer"}
							%span.sr-only= "Tweet to your followers on Twitter"
							%i.fa.fa-twitter-square.fa-2x
					%li.nav-item
						%a.nav-link{href: "http://www.facebook.com/sharer.php?u=https://about.gitlab.com/2017/01/24/designing-for-the-modern-developer-recap/"}
							%span.sr-only= "Share on Facebook"
							%i.fa.fa-facebook-square.fa-2x
					%li.nav-item
						%a.nav-link{href: "https://www.linkedin.com/shareArticle?mini=true&url=https://about.gitlab.com/2017/01/24/designing-for-the-modern-developer-recap/&title=Designing%20for%20the%20modern%20developer&summary=&source="}
							%span.sr-only= "Share on LinkedIn"
							%i.fa.fa-linkedin-square.fa-2x
					%li.nav-item
						%a.nav-link{href: "https://plusone.google.com/_/+1/confirm?hl=en&url=https://about.gitlab.com/2017/01/24/designing-for-the-modern-developer-recap/"}
							%span.sr-only= "Share on Google+"
							%i.fa.fa-google-plus-square.fa-2x
		
		%section.learn.text-center
			%h3.section-title.mb-5= "You'll learn so much"
			%div.row
				%div.col-sm.mb-4.mb-sm-0
					= partial "includes/artwork/fork.svg"
					%h4.title= "This stuff"
					%p= "You will learn all about this stuff."
				%div.col-sm.mb-4.mb-sm-0
					= partial "includes/artwork/pipeline.svg"
					%h4.title= "That doodad"
					%p= "Oh, you will learn so much about doodads."
				%div.col-sm.mb-4.mb-sm-0
					= partial "includes/artwork/visit.svg"
					%h4.title= "The other thing"
					%p= "This other thing?!? Yup. You’ll learn that too."

	= partial "includes/artwork/flags.svg"

%div.callout.text-center
	%div.container
		%h1= "Install GitLab in 2 minutes"
		%p= "With Ubuntu, Debian, CentOS, openSUSE, and Raspbian packages or from source"
		%a.btn.btn-secondary{href: "https://about.gitlab.com/installation/"}= "Install GitLab Now"